.header-cont {
    height: 8vh;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-font{
    font-size: 20px;
}
.header-navlink:visited, .header-navlink:link, .header-navlink:active {
    margin: 10px;
    text-decoration: none;
    color: aliceblue;
}

.header-navlink:hover {
    transform: scale(1.2);
}